body {
  margin: 0;
  padding: 0;
}

.header {
  margin-left: 50%;
  top: 20px;
  transform: translate(-50%, 0%);
  text-align: center;
}

.todos {
  margin-left: 50%;
  top: 100px;
  transform: translate(-50%, 0%);
  text-align: center;
}
